spec/fixtures/ExportEmploiDuTemps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by Pat (INDEX EDUCATION) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.index-education.com/exportemploidutemps" targetNamespace="http://www.index-education.com/exportemploidutemps" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="ExportEmploiDuTemps">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="AnneeScolaire">
	  <xs:complexType>
	    <xs:attribute name="DateDebut" type="xs:date" use="required"/>
	    <xs:attribute name="DateFin" type="xs:date" use="required"/>
	    <xs:attribute name="DatePremierJourSemaine1" type="xs:date" use="required"/>
	  </xs:complexType>
	</xs:element>
	<xs:element name="GrilleHoraire">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="JoursOuvres">
		<xs:complexType>
		  <xs:sequence>
		    <xs:element name="Jour" type="JOUR" maxOccurs="7"/>
		  </xs:sequence>
		</xs:complexType>
	      </xs:element>
	      <xs:element name="PlacesParJour">
		<xs:complexType>
		  <xs:sequence>
		    <xs:element name="Place" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Numero" type="xs:unsignedShort" use="required">
			  <xs:annotation>
			    <xs:documentation>Le numéro de la première place du jour est égal à 0</xs:documentation>
			  </xs:annotation>
			</xs:attribute>
			<xs:attribute name="LibelleHeureDebut" type="xs:time" use="required"/>
			<xs:attribute name="LibelleHeureFin" type="xs:time" use="required"/>
		      </xs:complexType>
		    </xs:element>
		  </xs:sequence>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	    <xs:attribute name="NombrePlacesParJour" type="xs:unsignedShort" use="required"/>
	    <xs:attribute name="DureePlace" type="xs:unsignedShort" use="required">
	      <xs:annotation>
		<xs:documentation>Exprimée en minutes</xs:documentation>
	      </xs:annotation>
	    </xs:attribute>
	  </xs:complexType>
	</xs:element>
	<xs:element name="Matieres">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="Matiere" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:attribute name="Ident" type="IDENT" use="required"/>
		  <xs:attribute name="Code" type="xs:string" use="required"/>
		  <xs:attribute name="Libelle" type="xs:string" use="required"/>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="Professeurs">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="Professeur" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:attribute name="Ident" type="IDENT" use="required"/>
		  <xs:attribute name="Nom" type="xs:string" use="required"/>
		  <xs:attribute name="Prenom" type="xs:string" use="required"/>
		  <xs:attribute name="CodePostal" type="xs:string" use="optional"/>
		  <xs:attribute name="DateNaissance" type="xs:date" use="optional"/>
		  <xs:attribute name="IDSTS" type="xs:NMTOKEN" use="optional">
		    <xs:annotation>
		      <xs:documentation>Id venant de l'export STSWEB</xs:documentation>
		    </xs:annotation>
		  </xs:attribute>
		  <xs:attribute name="IDPN" type="xs:NMTOKEN" use="optional">
		    <xs:annotation>
		      <xs:documentation>Identifiant unique Pronote</xs:documentation>
		    </xs:annotation>
		  </xs:attribute>
		  <xs:attribute name="IDCAS" type="xs:NMTOKEN" use="optional">
		    <xs:annotation>
		      <xs:documentation>Identifiant unique CAS</xs:documentation>
		    </xs:annotation>
		  </xs:attribute>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="Classes">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="Classe" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:sequence>
		    <xs:element name="PartieDeClasse" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
		      </xs:complexType>
		    </xs:element>
		  </xs:sequence>
		  <xs:attribute name="Ident" type="IDENT" use="required"/>
		  <xs:attribute name="Nom" type="xs:string" use="required"/>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="Groupes">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="Groupe" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:sequence>
		    <xs:element name="Classe" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
		      </xs:complexType>
		    </xs:element>
		    <xs:element name="PartieDeClasse" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
		      </xs:complexType>
		    </xs:element>
		  </xs:sequence>
		  <xs:attribute name="Ident" type="IDENT" use="required"/>
		  <xs:attribute name="Nom" type="xs:string" use="required"/>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="Salles">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="Salle" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:attribute name="Ident" type="IDENT" use="required"/>
		  <xs:attribute name="Nom" type="xs:string" use="required"/>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="Eleves">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="Eleve" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:sequence>
		    <xs:element name="Responsable" minOccurs="0" maxOccurs="2">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
			<xs:attribute name="RespLegal" type="xs:unsignedShort" use="required">
			  <xs:annotation>
			    <xs:documentation>Premier ou deuxième responsable légal</xs:documentation>
			  </xs:annotation>
			</xs:attribute>
			<xs:attribute name="Nom" type="xs:string" use="required"/>
			<xs:attribute name="Prenom" type="xs:string" use="required"/>
			<xs:attribute name="Civilite" type="xs:string" use="optional"/>
			<xs:attribute name="Adresse1" type="xs:string" use="required"/>
			<xs:attribute name="Adresse2" type="xs:string" use="optional"/>
			<xs:attribute name="Adresse3" type="xs:string" use="optional"/>
			<xs:attribute name="Adresse4" type="xs:string" use="optional"/>
			<xs:attribute name="CodePostal" type="xs:string" use="optional"/>
			<xs:attribute name="Ville" type="xs:string" use="optional"/>
			<xs:attribute name="IDPN" type="xs:NMTOKEN" use="optional">
			  <xs:annotation>
			    <xs:documentation>Identifiant Pronote</xs:documentation>
			  </xs:annotation>
			</xs:attribute>
			<xs:attribute name="IDCAS" type="xs:NMTOKEN" use="optional">
			  <xs:annotation>
			    <xs:documentation>Identifiant unique CAS</xs:documentation>
			  </xs:annotation>
			</xs:attribute>
		      </xs:complexType>
		    </xs:element>
		    <xs:element name="Classe" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
			<xs:attribute name="DateEntree" type="xs:date" use="required"/>
			<xs:attribute name="DateSortie" type="xs:date" use="required"/>
		      </xs:complexType>
		    </xs:element>
		    <xs:element name="PartieDeClasse" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
			<xs:attribute name="DateEntree" type="xs:date" use="required"/>
			<xs:attribute name="DateSortie" type="xs:date" use="required"/>
		      </xs:complexType>
		    </xs:element>
		  </xs:sequence>
		  <xs:attribute name="Ident" type="IDENT" use="required"/>
		  <xs:attribute name="Nom" type="xs:string" use="required"/>
		  <xs:attribute name="Prenom" type="xs:string" use="required"/>
		  <xs:attribute name="DateNaissance" type="xs:date" use="required"/>
		  <xs:attribute name="Sexe" use="required">
		    <xs:simpleType>
		      <xs:restriction base="xs:string">
			<xs:enumeration value="Masculin"/>
			<xs:enumeration value="Feminin"/>
		      </xs:restriction>
		    </xs:simpleType>
		  </xs:attribute>
		  <xs:attribute name="CodePostal" type="xs:string" use="optional"/>
		  <xs:attribute name="NumeroNational" type="xs:NMTOKEN" use="optional">
		    <xs:annotation>
		      <xs:documentation>Correspond au champ ID_NATIONAL de l'export SCONET</xs:documentation>
		    </xs:annotation>
		  </xs:attribute>
		  <xs:attribute name="IDSconet" type="xs:NMTOKEN" use="optional">
		    <xs:annotation>
		      <xs:documentation>Correspond au champ ELEVE_ID de l'export SCONET</xs:documentation>
		    </xs:annotation>
		  </xs:attribute>
		  <xs:attribute name="IDPN" type="xs:NMTOKEN" use="optional">
		    <xs:annotation>
		      <xs:documentation>Identifiant Pronote</xs:documentation>
		    </xs:annotation>
		  </xs:attribute>
		  <xs:attribute name="IDCAS" type="xs:NMTOKEN" use="optional">
		    <xs:annotation>
		      <xs:documentation>Identifiant unique CAS</xs:documentation>
		    </xs:annotation>
		  </xs:attribute>
		  <xs:attribute name="IDEtablissement" type="xs:NMTOKEN" use="optional">
		    <xs:annotation>
		      <xs:documentation>Correspond au champ ID_ELEVE_ETAB de l'export SCONET</xs:documentation>
		    </xs:annotation>
		  </xs:attribute>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="Cours">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="Cours" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:sequence>
		    <xs:element name="Matiere">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
		      </xs:complexType>
		    </xs:element>
		    <xs:element name="Professeur" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
			<xs:attribute name="Semaines" type="SEMAINES" use="required"/>
		      </xs:complexType>
		    </xs:element>
		    <xs:element name="Classe" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
			<xs:attribute name="Semaines" type="SEMAINES" use="required"/>
		      </xs:complexType>
		    </xs:element>
		    <xs:element name="PartieDeClasse" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" use="required"/>
			<xs:attribute name="Semaines" type="SEMAINES" use="required"/>
		      </xs:complexType>
		    </xs:element>
		    <xs:element name="Groupe" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
			<xs:attribute name="Semaines" type="SEMAINES" use="required"/>
		      </xs:complexType>
		    </xs:element>
		    <xs:element name="Salle" minOccurs="0" maxOccurs="unbounded">
		      <xs:complexType>
			<xs:attribute name="Ident" type="IDENT" use="required"/>
			<xs:attribute name="Semaines" type="SEMAINES" use="required"/>
		      </xs:complexType>
		    </xs:element>
		  </xs:sequence>
		  <xs:attribute name="Jour" type="JOUR" use="required"/>
		  <xs:attribute name="NumeroPlaceDebut" type="xs:unsignedShort" use="required"/>
		  <xs:attribute name="NombrePlaces" type="xs:unsignedShort" use="required"/>
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="required"/>
      <xs:attribute name="UAI" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="IDENT">
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:simpleType name="JOUR">
    <xs:restriction base="xs:unsignedShort"/>
  </xs:simpleType>
  <xs:simpleType name="SEMAINES">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
</xs:schema>
